@import "../../assets/sass/variables.scss";

.dashboard {
  @include flexSpaceBtwn;
  margin-top: auto;
  padding: 25px;
  background-color: $c-bg-todo;
  border-radius: 0 0 0.3125rem 0.3125rem;
}
.amount {
  flex: 1;
  color: $c-text-button;
  font-size: 14px;
}
.filters-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
}
.category {
  color: $c-text-primary;
}
