@import "../../assets/sass/variables.scss";

/* reiketu apjungti su newTASK*/
.task-wrapper {
  @include flexSpaceBtwn;
  justify-content: flex-start;
  background-color: $c-bg-todo;
  padding: 1.25rem;
  border-bottom: 0.0625rem solid $c-text-completed;
}
.task-title {
  color: $c-text-uncompleted;
  transition: color 0.2s ease-in-out;
  &--completed {
    @extend .task-title;
    color: $c-text-completed;
    text-decoration: line-through;
    .task-category {
      color: inherit;
    }
  }
}
.vertical-mark {
  color: $c-text-completed;
}

.task-category {
  color: $c-text-inactive;
}

.btns-wrapper {
  @include flexCenter;
  margin-left: auto;
}
