@import "../../assets/sass/variables.scss";

.task-wrapper {
  @include flexSpaceBtwn;
  justify-content: flex-start;
  padding: 1.25rem;
  border-bottom: 0.0625rem solid $c-text-completed;
  cursor: move;
}

.task-data {
  @include flexSpaceBtwn;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 2;
}

.task-title {
  color: $c-text-uncompleted;
  transition: color 0.2s ease-in-out;
  cursor: text;
  &--completed {
    @extend .task-title;
    color: $c-text-completed;
    text-decoration: line-through;
    .task-category {
      color: inherit;
    }
  }
  @media (width <=$rd-mobile) {
    font-size: $fs-task-mobile;
  }
}
.vertical-mark {
  color: $c-text-completed;
}

.task-category {
  color: $c-text-inactive;
}

.btns-wrapper {
  @include flexCenter;
  margin-left: auto;
}
