@import "../../assets/sass/variables.scss";

/* reiketu apjungti su newTASK*/
.task-wrapper {
  @include flexSpaceBtwn;
  justify-content: flex-start;
  background-color: $c-bg-todo;
  padding: 1.25rem;
  border-bottom: 1px solid $c-text-completed;
}
.task-title {
  color: $c-text-uncompleted;
}
.vertical-mark {
  margin: 0 5px;
  color: $c-text-uncompleted;
}
.task-category {
  color: $c-text-uncompleted;
  text-transform: lowercase;
}
.btns-wrapper {
  @include flexCenter;
  margin-left: auto;
}
