@import "../../../../assets/sass/variables.scss";

.arrow {
  fill: $c-text-inactive;
  transition: 0.2s ease-in-out;

  &--rotate {
    @extend .arrow;
    transform: rotate(180deg);
    fill: $c-text-inactive;
  }
}
