@import "../../../../assets/sass/variables.scss";

.arrow {
  fill: $c-text-inactive;
  transition: 0.2s ease-in-out;

  &--rotate {
    @extend .arrow;
    transform: rotate(180deg);
    fill: $c-text-inactive;
  }
  &--spin {
    @extend .arrow;
    animation: spin 0.6s ease-in-out;
    fill: $c-text-inactive;
  }
}

@keyframes spin {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 0.2rem;
  }
  100% {
    translate: 0 0;
  }
}
