@import "../../../assets/sass/variables.scss";
.btn {
  background-color: transparent;
  border: none;
  font-size: $fs-button;
  font-weight: $fw-bold;
  color: $c-text-button;
  cursor: pointer;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: $c-text-button-hover;
  }
  &--blue {
    @extend .btn;
    color: $c-text-primary;
    &:hover {
      color: $c-text-primary-hover;
    }
  }
  &--regular {
    @extend .btn;
    font-weight: $fw-regular;
  }
}
