@import "../../../assets/sass/variables.scss";

.dropdown {
  position: relative;
  .btn {
    @include flexCenter;
    margin: 0 auto;
    background-color: transparent;
    border: none;
    color: $c-text-inactive;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    &:hover {
      color: $c-text-uncompleted;
    }
    &--active {
      @extend .btn;
      color: $c-text-uncompleted;
    }
    &--filter {
      @extend .btn;
      font-weight: $fw-bold;
      color: $c-text-button;
      font-size: $fs-button;
    }
  }
  .dropwdown-content {
    position: absolute;
    z-index: 1;
    right: 0;
    width: 100%;
    min-width: 6.25rem;
    background-color: $c-text-uncompleted;
    background-color: $c-text-completed;
    border-radius: 0.3125rem;
    overflow: hidden;
    animation: apear 0.3s ease-in-out;

    li {
      padding: 0.5rem;
      text-align: center;
      color: $c-text-uncompleted;
      transition: all 0.2s ease-in-out;
    }
    li:first-child {
      background-color: $c-text-inactive;
      cursor: default;
    }
    li:not(li:first-child) {
      cursor: pointer;
      &:hover {
        background-color: $c-text-button-hover;
        color: $c-brdr-check;
      }
    }
  }
}

@keyframes apear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
