@import "../../../assets/sass/variables.scss";

.dropdown {
  position: relative;
  .btn {
    @include flexCenter;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: $c-text-inactive;
    transition: color 0.2s ease-in-out;
    &:hover {
      color: $c-text-uncompleted;
    }
    &--active {
      @extend .btn;
      color: $c-text-uncompleted;
      // color: tomato;
    }
  }
  .dropwdown-content {
    position: absolute;
    z-index: 1;
    background-color: $c-text-uncompleted;
    border-radius: 0.3125rem;
    overflow: hidden;
    animation: apear 0.3s ease-in-out;

    li {
      padding: 8px;
      color: $c-text-completed;
      transition: all 0.2s ease-in-out;
    }
    li:first-child {
      background-color: $c-text-inactive;
      cursor: default;
    }
    li:not(li:first-child) {
      cursor: pointer;
      &:hover {
        background-color: $c-text-completed;
        color: $c-text-uncompleted;
      }
    }
  }
}

@keyframes apear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
