@import "../../assets/sass/variables.scss";

//sujungti tu taskwrapper task
.new-task-wrapper {
  @include flexCenter;
  justify-content: flex-start;
  background-color: $c-bg-todo;
  padding: 1.25rem;
  margin: 2.5rem 0 1.5625rem;

  border-radius: 0.3125rem;
}

input[name="taskName"] {
  background-color: transparent;
  outline: transparent;
  border: none;
  color: $c-text-uncompleted;
}
input[name="taskName"]::placeholder {
  font-family: $ff-primary;
  color: $c-text-inactive;
}

// .dropdown {
//   position: relative;
//   &:hover .dropdown-content {
//     display: block;
//   }
// }
// .dropdown-btn {
//   background-color: transparent;
//   color: $c-text-inactive;
//   // font-size: 16px;
//   border: none;
//   cursor: pointer;
//   &:hover {
//     color: $c-text-uncompleted;
//   }
// }
// .dropdown-content {
//   display: none;
//   position: absolute;
//   background-color: tomato;
//   color: $c-text-uncompleted;
// }

// .category {
//   display: block;
//   padding: 5px;
//   cursor: pointer;
// }
