@import "./assets/sass/variables.scss";

.main {
  @include flexCenter;
  min-height: 100vh;
  background: $c-bg-main $bg-image-desktop no-repeat top;
  background-size: contain;
  transition: all 0.2s ease-in-out;
  @media (width <= $rd-mobile) {
    padding: 0 1.5rem;
    background: $c-bg-main $bg-image-mobile no-repeat top;
    background-size: contain;
  }
}
.dragging {
  margin-top: 3.125rem;
  text-align: center;
  color: $c-text-button;
  font-size: $fs-button;
}
