@import "./assets/sass/variables.scss";

.main {
  @include flexCenter;
  min-height: 100vh;
  background-color: $c-bg-main;
  background-image: $bg-image-desktop;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}
