/* -------------------- */
/*     current theme    */
/* -------------------- */

/* Backgrounds */

$c-bg-main: var(--c-bg-main);
$c-bg-todo: var(--c-bg-todo);

/* Text */
$c-text-inactive: var(--c-text-inactive);
$c-text-uncompleted: var(--c-text-uncompleted);
$c-text-completed: var(--c-text-completed);
$c-text-button: var(--c-text-button);
$c-text-button-hover: var(--c-text-button-hover);

/*check*/
$c-brdr-check: var(--c-brdr-check);

/*background image*/
$bg-image-desktop: var(--bg-image-desktop);
$bg-image-mobile: var(--bg-image-mobile);

/*----------------------------*/

/*text colors for both themes*/
$c-text-primary: hsl(220, 98%, 61%);
$c-text-app-title: white;

/*check background color for both themes*/
$c-bg-linear: linear-gradient(
  to right,
  hsl(192, 100%, 67%),
  hsl(280, 87%, 65%)
);

/*    FONTS    */
/*font family*/
$ff-primary: "Josefin Sans", sans-serif;

/*font-size*/
$fs-primary: 1.125rem;
$fs-button: 0.875rem;

/*font weight*/
$fw-regular: 400;
$fw-bold: 700;

/* responsive */
$rd-mobile: 768px;

/*    mixin   */
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexSpaceBtwn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*animations*/
